# Временная зона
WORKSPACE_TIMEZONE=Europe/Moscow

# XDEBUG
DOCKER_PHP_ENABLE_XDEBUG='on'

# Настройки Nginx
# Порт, который следует использовать
# для соединения с локального компьютера
NGINX_PORT=81

# Настройки PHP 8.1
# Внешний порт, доступен с локального компьютера
PHP_8_1_PORT=9003

# Настройки общие для MySQL 8.x
MYSQL_8_PORT=4308
MYSQL_USER=root
MYSQL_ROOT_PASSWORD=secret
MYSQL_DATABASE=school

# Настройки PMA
PMA_PORT=8081

# Настройки Frontend
# Порт, который следует использовать
# для соединения с локального компьютера
FRONTEND_PORT=3003
